/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

.top-navbar ul li
{
	margin: 0 15px;
}

.modal-open-btn,
.profitbase-widget 
{
	right: 20px;
}

	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.top-navbar
	{
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		margin: 50px 0;
		
	}

	.top_name
	{
display: none;
	}

	.modal-open-btn
	{
		top: 120px;
		z-index: 200;
	}

	.top-navbar ul
	{
		border: none;
	}

	.top-navbar ul li
	{
		text-align: center;
		font-size: 16px;
		margin: 10px 30px 0 30px;
	}

	.bottom_info
{
	padding: 30px;
}


.trans_list li
{
	font-size: 14px;
}

.top-navbar
	{
		margin-top: 0;
	}



}

/* Medium Devices, Desktops */
@media only screen and (max-width : 880px) {


.trans_list li
{
	padding-left: 5px;
}

.s_social ul li a i
{
	font-size: 18px;
	width: 25px;
}

.trans_list li img
{
	height: 30px;
}

.trans_list li span
{
	width: 40px;
}
	.bottom_info
{
	padding: 10px;
}






}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.sidebar
	{
		font-size: 12px;
	}

	.sidebar_menu,
	.s_adress 
	{
		border-bottom: 1px dashed #fff;
	}

	.photo_items,
	.photo_groups
	{
		width: 100%;
		padding: 0 30px;
	}

	.right_content
	{
		padding: 0;
	}
	

	.flex-viewport
	{
		overflow-y: auto !important;
	}


	.top-navbar ul
	{
		margin: 15px 0 0 0; 
		padding: 0;
		border-left: 1px solid #000;
		border-right: 1px solid #000;
		display: inline-block;
		padding: 0 15px;
	}

	.top-navbar ul li
	{
		margin-top: 0;
		margin-left: 5px;
		margin-right: 5px;
	}


	.living_icons_inner
	{
		display: none;
	}

	.sidebar_living 
	{
		text-align: center;
	}

	.sidebar_living ul
	{
		display: inline-block;
		text-align: left;
	}

	.modal-open-btn
	{
		position: absolute;
		top: 0;
	}

	.modal-open-btn img
	{
		width: 50px;
		height: 50px;
	}

	.top-navbar ul.top_title
	{
		border-left: none;
	}



}

@media only screen and (max-width : 544px) {

	.top-navbar
	{
		position: fixed;
	}

	
.sidebar .menu_name
{
	display: none;
}
.sidebar_menu,
.s_adress
{
	font-size: 16px;
}

.s_links,
.site_create
{
	font-size: 12px;
}

.sidebar {
	display: none;
    position: absolute;
    top: 55px;
    background-color: #4C4C4C;
    width: 100%;
    text-align: center;
    padding: 20px 30px;
}
.img_list
{
	background: #fff;
	padding-right: 0px;
}

.big_img_block
{
	background-position: 50%;
}

.s_logo,
.s_social
{
display: inline-block;
}

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

	nav.sidebar
{
	width: 200px !important;
}

}