/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  background-color: #4C4C4C; 
  color: #fff;
}

img
{
	max-width: 100%;
}

.blue_txt
{
	color: #0000ff !important;
}

/*
 * Typography
 */
h2
{
	font-family: "OpenSansBold";
}

/*
* MODAL WINDOW
*/

.modal-content
{
color: #2B2A29; 	
}

.modal-title
{
color: #FBBA00;	
}



/* 
 * TOP NAVBAR 
 */
.top-navbar
{
	background-color: #FBBA00;
		text-align: center;
		width: auto;
		margin: 30px 100px;
		position: absolute;
		z-index: 100;
		min-width: 60%;
}

.top-navbar ul.top_title
{
	border-right: none;
}

.top-navbar h1
{
	font-size: 18px;
	margin-top: 5px;
	color: #292b2c;
	font-family: "OpenSansBold"; 
	margin-left: 30px;
}

.top-navbar ul
{
	list-style-type: none;
	padding: 0;
	margin: 0 30px;
	border-left: 2px solid #2B2A29;
	border-right: 2px solid #2B2A29;
}

.top-navbar ul li
{
	display: inline-block;
	margin: 0 15px; 
}

#navbarTop
{
	height: 100%;
	width: auto;
}


.top_name
{
	display: inline-block;
	margin: 0;
}

.top_name,
.top-navbar a
{
	color: #2B2A29;
	font-family: "OpenSansBold";
	text-decoration: none;
	font-size: 14px;
}

.top-navbar li.flex-active a,
.top-navbar a:hover
{
	text-decoration: underline;
}

.top_logo img
{
	height: 40px;
	width: 175px;
}


/*
 * Sidebar
 */

.sidebar {
	background-color: #4C4C4C; 
  position: fixed;
  display: block;
  top: 0;
  padding-top: 50px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
-ms-overflow-style: none;
}
.sidebar::-webkit-scrollbar { width: 0 !important }



.sidebar .menu_name
{
font-family: "OpenSansBold";
font-size: 14px;
margin-bottom: 20px;
}

/* Sidebar navigation */
.sidebar {
      padding: 30px 0px 30px 25px;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar_menu
{
	padding: 0 0 5px 0;
	list-style-type: none;
	border-bottom: 3px dashed #fff;
}

.sidebar_menu li
{
	width: 100%;
	margin-bottom: 5px;
}

.sidebar_menu a
{
	color: #fff;
	text-decoration: none;
	font-family: "OpenSansBold";
}

.sidebar_menu a:hover,
.sidebar_menu a.active
{
	text-decoration: underline;
}
.s_adress 
{
	margin: 30px 0;
	border-bottom: 3px dashed #fff;
	padding-bottom: 10px;
}

.s_adress p
{
	margin-bottom: 0;
	font-family: "OpenSansBold";
}

.s_logo
{
	width: 80px;
}

.s_social
{
	margin: 30px 0;
}

.s_social ul
{
	list-style-type: none;
	padding: 0;
}

.s_social ul li
{
	display: inline-block;
	margin-right: 10px;
}

.s_social ul li a i
{
font-size: 16px;
background-color: #fff;
color: #4C4C4C;
width: 20px;
padding: 3px 0;
text-align: center;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;  
}

.s_links,
.site_create
{
	font-size: 9px;
}

.s_links p
{
	margin-bottom: 0;
}
.site_create
{
	margin-top: 30px;
}
.site_create a,
.site_create span
{
display: inline-block;
vertical-align: bottom;
}

.nav_close_btn i
{
	color: #fff;
}
/*
* MAIN BTNS
*/

.profitbase-widget {
    position: fixed !important;
    top: auto !important;
    left: auto !important;
    right: 30px !important;
    bottom: 50px !important;
    z-index: 10000 !important;
    border-radius: 50% 50% !important;
    width: 70px !important;
    height: 70px !important;
    background: #FBBA00 !important;
    color: #292b2c !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    font-family: Arial !important;
    font-size: 5px !important;
    font-weight: normal !important;
    line-height: 1em !important;
    padding: 7px 25px 0 !important;
    cursor: pointer !important;
    -webkit-animation: widget-shadow ease-in-out 1s infinite;
    -moz-animation: widget-shadow ease-in-out 1s infinite;
    -o-animation: widget-shadow ease-in-out 1s infinite;
    animation: widget-shadow ease-in-out 1s infinite;
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
}
.profitbase-widget:before {
    content: " " !important;
    width: 36px !important;
    height: 36px !important;
    display: block !important;
    margin-left: -8px;
    margin-bottom: 5px !important;
    background-image: url("images/bottom_btn.svg") !important;
    background-size: 100% 100% !important;
}



.profitbase-widget * {
    font-family: Arial  !important;
    font-size: 7px !important;
    line-height: 1em !important;
}

.profitbase-widget span {
    display: block !important;
    position: absolute;
    width: 100%;
    text-align: center;
        left: 1px;
        margin-top: -2px;
}

.profitbase-widget span:first-line {
    letter-spacing: 0.5px !important;
}



@-webkit-keyframes widget-shadow {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 0 8px #fff;
    }
    100% {
        box-shadow: none;
    }
}

@-moz-keyframes widget-shadow {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 0 8px #fff;
    }
    100% {
        box-shadow: none;
    }
}

@-o-keyframes widget-shadow {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 0 8px #fff;
    }
    100% {
        box-shadow: none;
    }
}

@keyframes widget-shadow {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 0 8px #fff;
    }
    100% {
        box-shadow: none;
    }
}

.profitbase-widget:hover {
    -webkit-transform: scale(1.3); /* Saf3.1+, Chrome */
    -moz-transform: scale(1.3); /* FF3.5+ */
    -ms-transform: scale(1.3); /* IE9 */
    -o-transform: scale(1.3); /* Opera 10.5+ */
    transform: scale(1.3);
    -webkit-animation: none; /* Safari 4+ */
    -moz-animation: none; /* Fx 5+ */
    -o-animation: none; /* Opera 12+ */
    animation: none; /* IE 10+, Fx 29+ */
}

.modal-open-btn {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 100;
}

.modal-open-btn img
{
	width: 70px;
	height: 70px;
}

/*
* MAIN SLIDER
*/
#main_slider ul li
{
	width: 100%;
	position: relative;
	overflow-x: hidden;
}
#main_slider ul li .slide_bg 
{
	min-height: 100vh;
}
#main_slider ul li .slide_info
{
width: 100%;
background-position: 50%;
background-size: cover;
background-repeat: no-repeat;
}

.right_content
{
	padding-right: 0;
	padding-left: 0;
}

.slide_bg .bottom_info
{
position: absolute;
}

.bottom_info
{
	width: 100%;
	padding: 0px 150px 15px 80px;
	bottom: 0;
	font-size: 16px;
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(76,76,76,0.99) 99%, rgba(76,76,76,1) 100%);
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(76,76,76,0.99) 99%,rgba(76,76,76,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(76,76,76,0.99) 99%,rgba(76,76,76,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#4c4c4c',GradientType=0 );
}

.bottom_info h2
{
	font-size: 24px;
}

.bottom_info p
{
	font-family: "OpenSansSemiBold";
	line-height: 1.2;
}


/*
*GL PHOTO 
*/
.photo_items
{
	margin-top: 115px;
	width: 90%;
}

.photo_items.after_sb
{
	margin-top: 50px;
}

.photo_items .ph_item
{
	margin-bottom: 30px;
}

.photo_items .ph_item a
{
display: inline-block;
position: relative;
border: 3px solid #fff;
}

.photo_items .ph_item a:after
{
content: "";
top: 10px;
right: -10px;
z-index: -10;
position: absolute;
background-color: #A5A5A5; 
border: 3px solid #fff;
width: 100%;
height: 100%;
}

.photo_items .ph_item a img
{
	width: 100%;
}

.photo_items .ph_item p
{
	position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    margin-bottom: 0;
    min-height: 50px;
    display: table;
    vertical-align: middle;
    font-family: "OpenSansSemiBold";
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(76,76,76,0.99) 99%, rgba(76,76,76,1) 100%);
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(76,76,76,0.99) 99%,rgba(76,76,76,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(76,76,76,0.99) 99%,rgba(76,76,76,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#4c4c4c',GradientType=0 );
}

.photo_items .ph_item p span
{
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
	padding: 0 6px;
}


/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/*
* PHOTO GROUPS
*/

.photo_groups
{
	margin-top: 150px;
    width: 90%;
}


.photo_groups.after_sb
{
	margin-top: 50px;
}

.photo_groups .ph_group
{
	margin-bottom: 50px;
}

.photo_groups .ph_group a.images_group
{
display: inline-block;
position: relative;
width: 80%;
}

.photo_groups .ph_group a.images_group:after
{
content: "";
top: 20px;
right: -20px;
z-index: -10;
position: absolute;
background-color: #A5A5A5; 
border: 3px solid #fff;
width: 100%;
height: 100%;
}

.photo_groups .ph_group a.images_group img
{
	width: 100%;
	border: 3px solid #fff;
}

.photo_groups .ph_group p.num
{
	position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -17px;
    margin-right: -10px;
    font-family: "OpenSansBold";

}

a.ph_title
{
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
	font-size: 14px;
	text-decoration: none;
	line-height: 1.1;
	font-family: "OpenSansBold";
}



/*
* CONTENT
*/

.big_img_block
{
	position: relative;
	width: 100%;
	height: 100vh;
	background-size: cover;
}

.bg_contain
{
	background-size: contain;
background-repeat: no-repeat;
}

.living_img
{
	width: 100%;
}

.img_list
{
	background: #fff;
	padding-right: 110px;
	padding-top: 30px;
}

.img_list img
{
	width: 100%;
	margin-bottom: 50px;
}

.big_img_block .bottom_info
{
position: absolute;
}

.trans_list
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}

.trans_list li
{
	margin-bottom: 5px;
	background: rgba(220, 220, 220, 0.7);
	text-align: right;
	font-size: 14px;
	color: #E3000F;
	font-family: "OpenSansBold";
	padding-left: 15px;
}

.trans_list li p
{
	margin: 0;
}

.trans_list li img
{
	height: 25px;
	width: auto;
}

.trans_list li span
{
	width: 35px;
	display: inline-block;
	text-align: center;
	margin-left: 10px;
	background: rgba(220, 220, 220, 1);
	padding: 5px;
}


.living_icons_inner ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.living_icons_inner ul li
{
position: absolute;
}

.living_icons_inner ul li:nth-child(1) {top: 9.5vw; left: 23vw;}
.living_icons_inner ul li:nth-child(2) {top: 12.5vw; left: 29vw;}
.living_icons_inner ul li:nth-child(3) {top: 14.5vw; left: 34.5vw;}
.living_icons_inner ul li:nth-child(4) {top: 13.5vw; left: 20vw;}
.living_icons_inner ul li:nth-child(5) {top: 16vw; left: 26vw;}
.living_icons_inner ul li:nth-child(6) {top: 18.5vw; left: 32vw;}
.living_icons_inner ul li:nth-child(7) {top: 20.5vw; left: 38vw;}
.living_icons_inner ul li:nth-child(8) {top: 21.5vw; left: 28vw;}
.living_icons_inner ul li:nth-child(9) {top: 25vw; left: 32vw;}


.living_icons_inner ul li img
{
	max-height: 3vw;
	max-width: 3vw;
}

.living_icons_inner ul li a
{
	display: inline-block;
	height: 4vw;
	width: 4vw;
	background: rgba(255,255,255,0.6);
	-webkit-border-radius: 200px;
-moz-border-radius: 200px;
border-radius: 200px;
text-align: center;
vertical-align: middle;
line-height: 4vw;
}

.sidebar_living
{
	margin-top: 30px;
}

.sidebar_living ul
{
	padding: 0;
	list-style-type: none;
}

.sidebar_living ul li
{
	margin-bottom: 20px;
}

.sidebar_living ul li p
{
	margin-bottom: 5px;
	line-height: 1.2;
}

.l_title
{
	font-family: "OpenSansBold";
	margin-bottom: 5px;
}

.l_title img
{
	max-height: 40px;
	max-width: 40px;
}

.l_title span
{
	line-height: 1.2;
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;

}

.l_img
{
	background: rgba(255,255,255,0.6);
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
	display: table-cell;
	margin-right: 10px;
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 50px;
	border: 3px solid #fff;
}

.l1 .l_img {border-color: #312A7E;}
.l2 .l_img {border-color: #7AAE30;}
.l3 .l_img {border-color: #DD7813;}
.l4 .l_img {border-color: #D31B17;}
.l5 .l_img {border-color: #0097D1;}


/*
* LOAD
*/
.load
{
position: absolute; 
width: 100%;
height: 100%;
left: 0;
top: 0;
z-index: 99999;
background: #4C4C4C; 
overflow: hidden;	
}
.preloader {
    width: 130px;
    height: 130px;
    border: 11px solid #ffffff;
    overflow: hidden;
    margin: 0 auto;

}

.percent
{
	text-align: center;
	font-size: 25px;
	color: #fff;
}

.percent img
{
	margin-left: 10px
}

#loader_progress_percent
{
margin-top: 10px;	
}

.progress_load
{
	position: relative; 
	width: 317px;
	height: 317px;
	margin: -158px auto 0;
	top: 50%;
	background: none;
}

.preloader__loaded {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0px 0 0;
    border-color: #ffffff transparent transparent transparent;
}

section.monitoring, section.monitoring object, section.monitoring object embed {
    width: 100%;
    height: 100vh;
}